<div class="container mt-5">
  <h2 class="mb-3" style="font-size: 1.5rem;"> Pace Wisdom Solutions Employees  Register</h2>
  <div class="separator mb-4"></div>
  <div class="row " style="padding-left: 284px;" >
    <div class="col-sm col-12">
      <div class="card" style="width: 64%;">
        <div class="card-body">
          <form name="form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()">
          <div class="form-group" style="margin-bottom: 2px;">
            <label class="hoverable" for="fileInput">
              <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
              <div class="hover-text">Choose Image</div>
              <div class="background"></div>
            </label>
            <br/>
            <input id="fileInput" formControlName="imageUrls" [ngClass]="{'is-invalid':registerForm.get('imageUrls').touched && registerForm.get('imageUrls').invalid}"  type='file' accept="file_type | image/* " (change)="onSelectFile($event)" required />
            <!-- <button *ngIf="url" (click)="delete()" >delete</button> -->
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" placeholder="First Name"  class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':registerForm.get('firstName').touched && registerForm.get('firstName').invalid}" required />
            <div class="invalid-feedback">
              <div>First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':registerForm.get('lastName').touched && registerForm.get('lastName').invalid}" required />
            <div class="invalid-feedback">
              <div>Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"  placeholder="Email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':registerForm.get('email').touched && registerForm.get('email').invalid}"   />
            <div *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid"  class="invalid-feedback">
              <div *ngIf="registerForm.get('email').errors.required">Email Name is required</div>
              <div *ngIf="registerForm.get('email').errors.email">Email must be a valid email Address</div>
            </div>
          </div>
          <div class="form-group">
            <label  for="phoneNumber">Phone Number</label>
            <input type="number" placeholder="Phone Number" class="form-control"  formControlName="phoneNumber" [ngClass]="{'is-invalid':registerForm.get('phoneNumber').touched && registerForm.get('phoneNumber').invalid}" />
            <div *ngIf="registerForm.get('phoneNumber').touched && registerForm.get('phoneNumber').invalid"  class="invalid-feedback">
              <div *ngIf="registerForm.get('phoneNumber').errors.required">PhoneNumber is required</div>
              <div *ngIf="registerForm.get('phoneNumber').errors.pattern"> Please, Enter 10 digit PhoneNumber Number.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="location">Current Location</label>
            <input formControlName="location" type="text" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"  class="form-control"  [ngClass]="{'is-invalid':registerForm.get('location').touched && registerForm.get('location').invalid}" required />
            <div class="invalid-feedback">
              <div>location is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary"  [disabled]="!registerForm.valid">Register</button>
           <button (click)="cancel()"  type="button" class="btn btn-light ml-3">Cancel</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>